extends layout 

block layout-content
    div.container
        div.row 
            div.col 
                h1 AllPets Brand 
                p Where you can find whatever you need for your fur friends. Due to the new restriction, we're currently accepting debit or credit payment.
                button.cta Order Now  
            div.col.animal
                div.card.card1 
                    h5 Cats
                    p Shopping for your cat 
                div.card.card2 
                    h5 Dogs 
                    p Shopping for your dog 
                div.card.card3
                    h5 Reptiles 
                    p Shopping for your reptiles 
                div.card.card4
                    h5 Birds 
                    p Shopping for your birds 